/* src/pages/Home/Home.module.css */

.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    width: 100vw;           
    background-color: #f0f2f5; 
    margin: 0;
    padding: 20px;          
    box-sizing: border-box;
}

.todoBox {
    background: white;
    width: 100%;
    max-width: 600px;        
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05); 
}

.title {
    text-align: center;
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 30px;
    font-weight: 700;
}

.section {
    padding: 20px 0;
    border-bottom: 1px solid #eee; 
}

.listSection {
    padding-top: 20px;
}


.filterBtn:hover {
    background: #e9ecef;
}

/* .active {
    background-color: #007bff !important;
    color: white !important;
    border-color: #007bff !important;
} */

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.emptyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.empty {
    text-align: center;
    font-weight: 600;
    color: #888;
    font-size: 1.2rem;
    margin: 0;
}